{% extends 'blog_layout.jinja2' %}
{% block content %}
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/home">Start Pyramid</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
           
          <li class="nav-item">
              <a class="nav-link" href="#">{{UserName }}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <form action="/add_post" class="nav-link" method="POST"> 
                <input type="hidden" name="user_id" value="{{user_id }}">
                <button type = "submit"> Add Post</button></form>
            </li>
        </ul>
    </div>
</div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url({{request.static_url('tutorial:static/blog/img/home-bg.jpg') }})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{UserName }}'s Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
      </div>
  </div>
</div>
</div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        {% for posts in post %}
      <div class="post-preview">
        <a href="#">
          <h2 class="post-title">
           {{ posts.name }}
        <h3 class="post-subtitle">
           {{ posts.data}}
        </h3>
    </a>
    <p class="post-meta">Posted by
              <a href="#">{{UserName }}</a></p>
    <form action="{{posts.id}}/edit_post">
        <button  type="submit" name="edit_post" value="{{ posts.id}}" >Edit Post </button></form>
        <form action="{{posts.id}}/delete_post">
            <button  type="submit" name="delete_post" value="{{posts.id}}" > Delete</button></form>
</div>
{% endfor %}
<hr>


<!-- Pager -->

</div>
</div>
</div>

<hr>

{% endblock %}

   <!--  {% for posts in post %}
    <p> {{ posts.name }}-{{ posts.data}}</p>
    <form action="{{posts.id}}/edit_post">
        <button  type="submit" name="edit_post" value="{{ posts.id}}" >Edit Post </button></form>
        <form action="{{posts.id}}/delete_post">
            <button  type="submit" name="delete_post" value="{{posts.id}}" > Delete</button></form>
            {% endfor %} -->